<div class="container" fxLayout="column" fxFlexAlign="center" fxLayoutGap="20px">
  <div class="chart-title">
    Spent on the {{ category}} for last 12 month
  </div>
  <canvas baseChart width="400" height="200"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType">

  </canvas>
  <div fxLayout fxLayoutAlign="center">
    <mat-form-field>
      <mat-select placeholder="Category" (valueChange)="onSelectCategory($event)">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
