.list-container {
  height: 400px;
  overflow-y: scroll;
}

.spent{
  margin-left: 30px;
  margin-top: 15px;
}

.footer {
  border-top: lightgray 1px solid;
  padding-top: 7px;
}

.wrapper > div {
  padding-bottom: 1em;
}

.wrapper > div:nth-child(odd){
  background: #ddd;
}
