<div class="groups-summary" fxLayout="column">
  <div class="list-container" style="margin-top: 5px">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of groups" style="margin-bottom: 1px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxFlex fxLayout fxLayoutAlign="space-between">
              <div style="margin-left: 15px">{{ group.name }}</div>
              <div>{{ group.spent | currency }}</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let subGroup of group.groupSubcategoryList"
             routerLink="/freights"
             (click)="onClose()">
            <div fxFlex fxLayout fxLayoutAlign="space-between">
              <div style="margin-left: 15px">{{ subGroup.name }}</div>
              <div>{{ subGroup.spent | currency }}</div>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="footer" fxLayout="row" fxLayoutAlign="space-between">
    <div class="spent">
      Total spent: {{ totalSpent | currency}}
    </div>
    <app-lanu-month-paginator (monthChange)="onMonthChange($event)"></app-lanu-month-paginator>
  </div>
</div>
