<div class="container">
  <form [formGroup]="accountForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">

    <mat-form-field>
      <input type="text" placeholder="Name" formControlName="name" matInput>
      <mat-hint>My Wallet, Chase, Mom's credit card, etc.</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input type="text" placeholder="Type" formControlName="type" matInput>
      <mat-hint>Checking, Cash, Credit, etc.</mat-hint>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-select placeholder="Currency" formControlName="currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{currency}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="number" placeholder="Initial Balance" formControlName="initialBalance" matInput>
    </mat-form-field>

    <div class="radio-container" fxLayout="row" fxLayoutGap="10px">
      <div>Include in total: </div>
      <mat-radio-group formControlName="includeInTotal">
        <mat-radio-button [value]="true" style="margin-right: 15px" color="primary">Yes</mat-radio-button>
        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-mini-fab color="primary" (click)="onCancel()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button type="submit" [mat-dialog-close]="accountForm.value"
              mat-mini-fab color="primary"
              [disabled]="accountForm.invalid || accountForm.untouched">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>
  </form>
</div>
