<div class="formBack" [ngStyle]="{opacity: dynamicOpacity}">
  <div fxLayout fxLayoutAlign="center">
    <div class="select-budget-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
      <h3 style="color: #004D40">Please select your Budget</h3>
      <mat-form-field>
        <mat-select placeholder="Budget name" (selectionChange)="onBudgetSelect($event)">
          <mat-option *ngFor="let budget of budgets" [value]="budget.id">
            {{budget.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
