<div class="groups-summary" fxLayout="column">
  <div class="list-container" style="margin-top: 15px">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of groupsAccount" style="margin-bottom: 1px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxFlex fxLayout fxLayoutAlign="space-between">
              <div style="margin-left: 15px">{{ group.name }}</div>
              <div>{{ group.balance | currency }}</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let acc of group.accountList"
             routerLink="/freights"
             (click)="onClose()">
            <div fxFlex fxLayout fxLayoutAlign="space-between">
              <div style="margin-left: 15px">{{ acc.name }}</div>
              <div>{{ acc.balance | currency }}</div>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="footer" fxLayout="row" fxLayoutAlign="space-between">
    <div class="spent">
      Total: <span class="total">{{ total | currency }}</span>
    </div>
  </div>
</div>
