<div class="container">
  <div class="groups-summary" fxLayout="column">
    <div class="list-container" style="margin-top: 15px">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let category of listCategories" style="margin-bottom: 1px">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxFlex fxLayout fxLayoutAlign="space-between">
                <div class="category-style">{{ category.name }}</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <a mat-list-item *ngFor="let subcategory of category.subCategoryList"
               matTooltip="EDIT SUBCATEGORY"
               (click)="onEditSubCategory(subcategory.id)">
              <div fxFlex fxLayout fxLayoutGap="10px">
                <button mat-icon-button matTooltip="DELETE SUBCATEGORY"
                        (click)="onDeleteSubCategory(subcategory.id)"
                        color="warn">
                  <mat-icon>highlight_off</mat-icon>
                </button>
                <div style="padding-top: 10px">{{ subcategory.name }}</div>
              </div>
            </a>
          </mat-nav-list>
          <mat-divider></mat-divider>
          <div fxLayout="row" fxLayoutAlign="end" style="padding-top: 8px">
            <button mat-icon-button color="primary" matTooltip="NEW SUBCATEGORY"
                    (click)="onNewSubcategory(category.id)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="EDIT CATEGORY"
                    (click)="onEditCategory(category.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="DELETE CATEGORY"
                    (click)="onDeleteCategory(category.id)" color="warn">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="button-container" fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button color="primary" matTooltip="NEW CATEGORY" (click)="onNewCategory()">
          <mat-icon>category</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
