<div>
  <form [formGroup]="categoryForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <mat-form-field>
      <input type="text" placeholder="New Category" formControlName="name" matInput required>
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-mini-fab color="primary" (click)="onCancel()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button type="submit" [mat-dialog-close]="categoryForm.value"
              mat-mini-fab color="primary"
              [disabled]="categoryForm.invalid || categoryForm.untouched">
          <mat-icon>save_alt</mat-icon>
      </button>
    </div>
  </form>
</div>
