mat-form-field {
  width: 300px;
}

#formBack {
  border-radius: 15px;
  width: 330px;
  padding: 30px;
  background: whitesmoke;
  opacity: 1;
}

a{
  text-decoration: none;
  color: #3F51B5;
}

a:hover, a:active{
  color: #808bcc;
}
