table {
  /*background-color: #F6F6FF;*/
  /*width: 1010px;
  margin: auto;*/
}

tr.mat-footer-row {
  font-weight: bold;
}

th.mat-header-cell {
  font-weight: bold;
}

.container{
  /*border: 1px solid grey;*/
  /*border-radius: 10px;*/
  /*background-color: #F6F6FF;*/
  height: 100%;
  background: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding-bottom: 10px;*/
}

.transaction:hover {
  background: #FFE0B2;
  cursor: pointer;
}

.amount-expense, .amount-income {
  background: #FFAB91;
  text-align: center;
  width: 90px;
  border-radius: 15px;
  padding: 3px 7px;
}

.amount-income {
  background: #80CBC4;
}

.mat-column-delete_button {
  max-width: 20px;
}

.mat-column-amount {
  max-width: 50px;
}


