<div style="height: 450px">
      <form [formGroup]="transferForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">

        <mat-form-field  style="margin-top: 20px">
          <input name="date" placeholder="Date" formControlName="date" matInput required
                 [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="From Account" formControlName="fromAccount" required #first>
            <mat-option *ngFor="let account of accounts" [value]="account.id">
              {{account.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="To Account" formControlName="toAccount" required #second>
            <mat-option *ngFor="let account of accounts" [value]="account.id" [disabled]="first.value === account.id">
              {{account.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input type="number" placeholder="Amount" formControlName="amount" matInput required>
          <mat-error *ngIf="transferForm.hasError('required')">
            Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div style="height: 145px"></div>
        <div fxFlexAlign="end">
          <button type="submit"
                  mat-raised-button
                  color="primary"
                  [disabled]="transferForm.invalid || transferForm.untouched || transferForm.value.fromAccount === transferForm.value.toAccount">
            <div>Save the Transfer</div>
          </button>
        </div>
      </form>
</div>
