<section
  gdColumns="230px auto"
  gdRows="60px auto 60px"
  gdAreas="logo hd | sidebar main | logo-2 footer">

  <div gdArea="logo" fxLayout fxLayoutAlign="center center" class="logo">Hello, {{ loggedInUserName | async }}</div>

  <header gdArea="hd">
    <div fxLayout fxFlex fxLayoutAlign="end center">
      <button mat-raised-button color="accent" (click)="onLogOut()">Logout</button>
    </div>
    <!--<ul class="navigation-list" fxLayout fxLayoutAlign="center center">
      <li class="navigation-item"><a href="#">Posts</a></li>
      <li class="navigation-item"><a href="#">Products</a></li>
      <li class="navigation-item"><a href="#">About Us</a></li>
    </ul>-->
  </header>

  <aside gdArea="sidebar">
    <mat-nav-list>
      <a mat-list-item
         routerLink="/main/dashboard/summaries">
        <mat-icon>calendar_view_day</mat-icon>
        <span class="nav-caption">Summaries</span>
      </a>
      <a mat-list-item
         routerLink="/main/dashboard/operations">
        <mat-icon>attach_money</mat-icon>
        <span class="nav-caption">Operations</span>
      </a>
    </mat-nav-list>
  </aside>

  <main class="main-1" gdArea="main">
    <router-outlet></router-outlet>
  </main>

  <div class="logo" id="logo" gdArea="logo-2" fxLayout fxLayoutAlign="center center">Home Budget by Lanu<span>©</span></div>

  <footer gdArea="footer">
    <ul class="navigation-list" fxLayout fxLayoutAlign="center center">
      <li class="navigation-item"><a href="#">Terms of Use</a></li>
      <li class="navigation-item"><a href="#">Support</a></li>
    </ul>
  </footer>

</section>
