mat-expansion-panel{
  width: 95%;
  margin: auto;
}

.list-container {
  height: 640px;
  overflow-y: auto;
}

.spent{
  margin-left: 30px;
  margin-top: 15px;
}

.footer {
  padding-top: 7px;
}

.total {
  font-weight: bold;
}
